
@model EcoMarketMVC.Models.Category
@{
    ViewBag.Title = "Düzəliş Kateqoriya";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <!-- Basic layout-->
        <form action="/admin/editcategory/@Model.Id" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Düzəliş Kateqoriya</h5>
                </div>
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger">@TempData["Error"]</div>
                }
                <div class="panel-body">
                    <div class="form-group">
                        <label>Kateqoriya adı:</label>
                        <input type="text" class="form-control" name="Name" value="@Model.Name">
                    </div>
                    <div class="text-left">
                        <button type="submit" class="btn btn-primary">Düzəliş</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- /basic layout -->
    </div>
</div>

