
@{
    ViewBag.Title = "Yeni Alt Kateqoriya";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <!-- Basic layout-->
        <form action="/admin/newsubcategory" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Yeni Alt Kateqoriya</h5>
                </div>
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger">@TempData["Error"]</div>
                }
                <div class="panel-body">
                    <div class="form-group">
                        <label>Alt Kateqoriya adı:</label>
                        <input type="text" class="form-control" name="Name">
                    </div>
                    <div class="form-group">
                        <label>Kateqoriya adı:</label>
                        <select name="CategoryId" class="form-control" style="font-size:1em">
                            @foreach (var category in (List<EcoMarketMVC.Models.Category>)ViewBag.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Şəkil:</label>
                        <input type="file" class="file-styled" name="file" accept=".jpg,.png,.gif">
                        <span class="help-block">Qəbul edilən formatlar: gif, png, jpg. Şəklin maksimum ölçüsü 2Mb olmalıdır.</span>
                    </div>
                    <div class="text-left">
                        <button type="submit" class="btn btn-primary">Yarat</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- /basic layout -->
    </div>
</div>
