@model IEnumerable<EcoMarketMVC.Models.Subcategory>
@{
    ViewBag.Title = "Alt Kateqoriyalar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
        <a href="/admin/newsubcategory" class="btn btn-info">Yeni Alt Kateqoriya</a>
        @if (TempData["Success"] != null)
        {
            <div class="row">
                <div class="col-12" style="margin-top:20px;"><div class="alert alert-info">@TempData["Success"]</div></div>
            </div>
        }
        <table class="table datatable-sorting">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Alt Kateqoriya Adı</th>
                    <th colspan="2">Kateqoriya Adı</th>
                    <th colspan="2">Əməliyyatlar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Category.Name</td>
                        <td></td>
                        <td><a href="/admin/editsubcategory/@item.Id" class="btn btn-sm btn-primary">Düzəliş</a> | <a href="/admin/deletesubcategory/@item.Id" class="btn btn-sm btn-danger">Sil</a></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>




